
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden; 
}

a {
    text-decoration: none;
    color: #000;
}

:root {
    font-size: 62.5%;
    
    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
} 


body {
    font-size: 1.6rem;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.493);
}